.resizable {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  max-height: 40vh;
  max-width: 40rem;
  text-align: center;
  background-color: gray;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  padding: 1rem 1.5rem;
}

.resizable-stick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: .8rem;
  background-color: black;
  cursor: pointer;
  user-select: none;
}